version: 2.1

executors:
  node:
    docker:
      - image: cimg/node:24.4.0-browsers
    working_directory: ~/repo
    environment:
      GIT_AUTHOR_EMAIL: visjsbot@gmail.com
      GIT_AUTHOR_NAME: vis-bot
      GIT_COMMITTER_EMAIL: visjsbot@gmail.com
      GIT_COMMITTER_NAME: vis-bot

jobs:
  prepare:
    executor: node

    steps:
      - checkout

      - run: npm ci

      - persist_to_workspace:
          root: ..
          paths:
            - ".cache"
            - "repo"

  build:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run: npm run build

      - persist_to_workspace:
          root: ..
          paths:
            - "repo/declarations"
            - "repo/dist"
            - "repo/esnext"
            - "repo/peer"
            - "repo/standalone"
            - "repo/styles"

  test_unit:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run: npm run test:unit

  examples:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run: npm run generate-examples-index

      - persist_to_workspace:
          root: ..
          paths:
            - "repo/examples"

  release:
    executor: node

    steps:
      - attach_workspace:
          at: ..

      - run:
          name: Prepare NPM
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN

      - run:
          name: Release
          command: |
            npx semantic-release

workflows:
  version: 2

  build:
    jobs:
      - prepare

      - build:
          requires:
            - prepare

      - test_unit:
          requires:
            - build

      - examples:
          requires:
            - build

      - release:
          requires:
            - prepare
            - build
            - examples
            - test_unit
          filters:
            branches:
              only:
                - master
